/grongish-server
/grongish-server.zip
*.pyc
/Grongish.tar.gz
/Grongish/
/GrongishTranslator.py
/MeCab.py
/README.md
/_MeCab.so
/bin/
/etc/
/grongishdic/
/include/
/jctconv-0.1.2-py2.7.egg-info/
/jctconv/
/lib/
/libexec/
/mecab-0.996/
/mecab-ipadic-2.7.0-20070801/
/mecab-ipadic.tar.gz
/mecab.tar.gz
/mecab_python3-*/
/share/
